#titulo, #aviso{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: solid;
    border-radius: 7.5px;

    margin-top: 30px;
    max-width: 500px;
    min-width: 400px;

    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
#titulo{
    background-color: #2e82ff;
}
#aviso{
    background-color: #191a1a;
    color: white;
    border-width: 10px;
    animation-name: aviso;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#pages{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 30px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
@keyframes aviso{
    0% {
        border-color: #ff5757
    }
    25% {
        border-color: #ffb388
    }
    50% {
        border-color: #9cff88;
    }
    75% {
        border-color: #889aff;
    }
    100% {
        border-color: #ff5797
    }
}

#tarefas{
    max-width: 1000px;
    min-width: 400px;

    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: solid;
    border-radius: 7.5px;
    margin-right: 120px;
    background-color: #2e82ff;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
#gramatica, #matplicada, #literatura, #ciencias, #historia, #matematica{
    text-align: left;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: solid;
    border-radius: 7.5px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: orange;

    max-width: 960px;
    min-width: 280px;
}
#titulotarefa{
    margin-left: 10px;
    border-style: solid;
    margin-right: 75px;
    text-align: center;
    border-radius:7.5px;
    background-color:rgb(119, 182, 18);
    max-width: 100px;
}
#tarefatarefa, #dataentrega{
    margin-left: 40px;
    max-width: max-content;
}
#data{
    margin-left: 5px;
    border-style: solid;
    border-radius: 7.5px;
    margin-right: 250px;
    text-align: center;
    background-color: #a52a2a;
    max-width: 120px;
    min-width: 100px;
}

#loginbutton {
    position: relative;
    padding: 0.6em 1.2em;
}

/* From uiverse.io by @alexruix */
input {
    border-radius: 1rem;
    background: #212121;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
input:focus, input:valid {
    outline: none;
    border: solid #000000;
}
input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    padding: 0 .2em;
}
/* From uiverse.io by @mobinkakei */
.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
/* From uiverse.io by @adamgiebl */
button {
    color: #ffffff;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 7.5px;
    background: #191a1a;
    border: solid;
    animation-name: aviso;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   }
   
   button:hover {
    border: solid white;
   }
/**/
.reload {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    padding: 1em 0em 1em 0em;
}
::-webkit-scrollbar{
    background-color: #646464;
    width: 20px;
}
::-webkit-scrollbar-button{
    background-color: #464646;
}
::-webkit-scrollbar-thumb{
    background-color: #929292;
}